{{- partial "functions/warnings.html" .Site -}}
{{- partial "functions/init.html" . -}}
<!doctype html>
<html
  lang="{{- site.Language.Locale | default site.Language.Lang -}}"
  dir="{{- site.Language.Direction | default "ltr" -}}"
  data-default-appearance="{{- .Site.Params.defaultAppearance | default "dark" -}}"
  data-auto-appearance="{{- .Site.Params.autoSwitchAppearance | default "false" -}}"
>
  {{- partial "head.html" . -}}
  <body class="site-shell{{ if .IsHome }} is-home{{ end }}">
    <a class="skip-link" href="#main-content">{{ i18n "nav.skip_to_main" }}</a>

    {{- partial "header/basic.html" . -}}

    <div class="site-frame">
      <main id="main-content" class="site-main" tabindex="-1">
        {{ block "main" . }}{{ end }}
      </main>
      {{- partial "footer.html" . -}}
    </div>

    {{ if .IsHome }}
      {{- partial "hadron-background.html" . -}}
    {{ end }}

    {{- partial "extend-footer.html" . -}}
  </body>
</html>
